<header>

  <nav class="navbar">
    <ul class="navlist">
        <a href="#"><li class="item site-title"><i class="fa fa-video-camera"></i> Movies</li></a>
        <li class="item search-movie">
          <form method="get" action="/search" id="search">
            <input id="movie-search-input" type="text" size="40" placeholder="Search..." />
          </form>
        </li>
      </ul>
  </nav>

</header>
