<article class="movie">
  <div class="movie-picture">
    <img class="movie-img" src="{{picture}}"
  </div>
  <div class="text-content">
     <a href="#"><p class="movie-name">
      {{name}}
    </p></a>
    <p class="movie-explanation">
      {{description}}
    </p>
  </div>
</article>
