<div id="video">
  <div class="videos">

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
      <iframe  width="560" height="315" src="https://www.youtube.com/embed/a5V5C8mEVzY" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
      <iframe  width="560" height="315" src="https://www.youtube.com/embed/T7A810duHvw" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/8hP9D6kZseM" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/4OtM9j2lcUA" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/FC6biTjEyZw" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="hidden">
      <button type="button" class="close-button">&times;</button>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/tE_7Oz-iH80" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>
</div>
